*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    display: flex;
}
.sidebar{
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 110px;
    height: 100vh;
    padding: 0 1.7rem;
    color: white;
    overflow: hidden;
    transition: all 0.5s linear;
    background: rgb(130, 130, 219);
}
.sidebar:hover{
    width: 240px;
    transition: 0.5s;
}
.logo{
    height: 80px;
    padding: 16px;
}
.menu{
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
}
.menu li{
    /* padding: 1rem;
    margin: 8px 0;
    border-radius: 8px;*/
    transition: all 0.5s ease-in-out;
    margin: 8px 0;
    border-radius: 8px;
    margin-left: -1px;
}
.menu li:hover,
.active{
    background: #e0e0e065;
}
.menu a{
    color: white;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    /* gap: 1.5rem; */
    gap: .5rem;
}
.menu a span{
    overflow: hidden;
}
.menu a i{
    font-size: 1.2rem;
}
.logout{
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
}
.side-icon{
    padding: .8rem;
    height: 50px;
    width: 50px;
}
/* main body section */
.main-content{
    position: relative;
    background: #ebe9e9;
    width: 100%;
    padding: 1rem;
}
.header-wrapper img{
width: 50px;
height: 50px;
cursor: pointer;
border-radius: 50%;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: white;
    border-radius: 5px;
    padding: 10px 2rem;
    margin-bottom: 1rem;
}
.header-title{
    color:  rgb(130, 130, 219);
}
.user-info{
    display: flex;
    align-items: center;
}
/* card container */
.card-container{
    background: white;
    padding: 2rem;
    border-radius: 5px;
}
.card-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.main-title{
    color: cornflowerblue;
    padding-bottom: 10px;
    font-size: 20px;
}
.payment-card{
    background: rgb(299, 223, 223);
    border-radius: 10px;
    padding: 1.2rem;
    width: 260px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
}
.payment-card:hover{
    transform: translateY(-5px);
}
.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.amount{
    display: flex;
    flex-direction: column;
}
.title{
    font-size: 12px;
    font-weight: 200;
}
.amount-value{
    font-size: 24px;
    font-weight: 600;
}
.icon{
    /* color: white; */
    padding: .8rem;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50%;
     /* font-size: 1.5rem; */
     background: red;
}
.card-detail{
    font-size: 18px;
    color: #777;
    letter-spacing: 2px;
}
.light-red{
    background: rgb(251, 233, 233);
}
.light-purple{
    background: rgb(254, 226, 254);
}
.light-green{
    background: rgb(235, 254, 235);
}
.light-blue{
    background: rgb(236, 236, 254);
}
.dark-red{
    background: red;
}
.dark-purple{
    background: purple;
}
.dark-green{
    background: green;
}
.dark-blue{
    background: blue;
}
/* tabuler section */
.tabular-wrapper{
    background: white;
    margin-top: 1rem;
    border-radius: 5px;
    padding: 2rem;
}
.table-container{
    width: 100%;
}
table{
    width: 100%;
    border-collapse: collapse;
}
thead{
    background:  rgb(130, 130, 219);
    color: white;
}
th{
    padding: 15px;
    text-align: left;
}
tbody{
    background: white;
}
td{
    padding: 15px;
    font-size: 14px;
    color: black;
}
.delete_product_btn{
    color: red;
    margin: 20px;
    font-size: 20px;
}
/* this is  for when product is empty in product.php */
.empty_text{
    /* background: cornflowerblue; */
   background:  rgb(130, 130, 219);
    margin-right: 10px;
    font-size: 25px;
}
.add-admin-btn{
    display: block;
    width: 15%;
    cursor: pointer;
    text-align: center;
    border-radius: .5rem;
    font-size: 20px;
    background: cornflowerblue;
    color: white;
    margin-left: 880px;
    margin-bottom: 10px;
    text-decoration: none;
}
.add-admin-btn:hover{
        transform: translateY(-5px);
        background: lightgreen;
        color: blue;
}



.add_movie_main_container{
    background: rgba(100, 148, 237, 0.986);
    height: 400px;
    width: 600px;

}
/* .inputboxone{
    margin-left: 10px;
    background: gray;
    font-size: 18px;
    margin-top: 10px;
} */

.addmovietype_container{
    background: rgba(100, 148, 237, 0.76);
    color: white;
    height: 300px;
    width: 400px;
    margin: 150px;
    margin-left: 480px;
}
.addmovietype_heading{
    text-align: center;
    margin-top: 30px;
}
.addmovietype_inputbox{
    width: 300px;;
    height: 35px;
    margin: 50px;
    text-align: center;
    font-size: 18px;
}
.addmovietype_btn{
    width: 40%;
    font-size: 20px;
    margin: 20px;
    background: green;
    cursor: pointer;
    border-radius: .5rem;
    color: white;
    margin-left: 50px;
}
.addmovietype_btn:hover{
    background: rgb(2, 77, 2);
}

.addmovietype_cancel_btn{
    display: inline-block;
    background: red;
    width: 120px;
    text-align: center;
    padding: 3px 24px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    border-radius: .5rem;
    cursor: pointer;
}
.addmovietype_cancel_btn:hover{
    background: rgb(128, 17, 17);
} 

/* add_movies.php */
.add_movies_header{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}
.add_movies_container{
    background: rgb(100, 148, 237);
    color: white;
    height: 620px;
    width: 600px;
    margin-top: 10px;
    margin-left: 26%;
   
}
.add_movies_inputbox{
    width: 250px;
    margin-left: 30px;
    margin-top: 5px;
    padding: 5px;
    font-size: 15px;
}
.inputboxone {
    width: 42%;
    padding: 10px;
    font-size: 16px;
    margin-left: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
}

.dropdown {
    position: relative;
    width: 90%;
    margin-left: 30px;
    margin-top: 30px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    color: black;
    border: 1px solid #bbbaba;
    min-width: 100%;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content label {
    display: block;
    padding: 8px;
    cursor: pointer;
}

.dropdown-content label:hover {
    background-color: #d4d4d4;
    color: black;
}

.dropdown .dropbtn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    text-align: left;
    background-color: white;
}

.dropdown .dropbtn:after {
    content: '\25BC'; /* Downward arrow */
    float: right;
}

.dropdown.active .dropdown-content {
    display: block;
}
.add_movies_submit-button{
    margin-top: 40px;
    margin-left: 30px;
    width: 50vh;
    height: 50px;
    font-size: 25px;
    color: white;
    background: lightgreen;
}
.add_movies_back{
    display: inline-block;
    background: red;
    width: 180px;
    text-align: center;
    padding: 3px 24px;
    font-size: 25px;
    text-decoration: none;
    margin-left: 30px;
    color: white;
    cursor: pointer;

}
.suggestionbox{
    margin-left: 30px;
    width: 535px;
}

/* movies_table.php  pagination section */

.pagination ul {
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 0;
    justify-content: center;
    margin-top: 30px;
}
.pagination ul li {
    display: inline-block;
}
.pagination ul li a {
    padding: 8px 16px;
    background-color: white;
    text-decoration: none;
    color: black;
    border-radius: 5px;
}
.pagination ul li a.active {
    background-color: cornflowerblue;
    color: white;
}
.pagination ul li a:hover {
    background-color: gray;
}